<!DOCTYPE html>
<html>

<head>
  <title>
    <%= 'Project Library of DOOOOOOOM' %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <p>Welcome to <%= 'Project Library of DOOOOOOOM' %>
  </p>
  <ul>
    <li><a href="/">Home</a></li>
    <% if (user) { %>
      <li><a href="/private">Your Library</a></li>
      <li><a href="/logout">Log Out</a></li>
      <% } else { %>
        <li><a href="/auth/google">Log In</a></li>
        <% } %>
  </ul>
    <p>Log in to View Your Library</p>
</body>

</html>