<%- include('./partials/header') %>
    <p>Welcome to Your Projects!</p>
    <a href="/projects/add">Add a Project</a>
    <br></br>
    <a href="/projects/library">Project Library</a>
    <%- include('./partials/footer') %>