body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table, th, td {
  border: 1px dotted rgb(72, 71, 71);
  margin: 2px;
  padding: 10px;
  font-size: 16px;
}

.navbar {
  justify-content: start;
  list-style: none;
  background: rgb(249, 247, 247);
}

i {
  align-self: start;
}