body {
  padding: 50px;
  font-family: 'Josefin Sans', sans-serif;
  display: inline-block; 
  width: 800px; 
  height: 600px;
  min-height: 200px;
  background-color: #eae6e6;
  background-image: url("../images/backdrop-small-white-copy.png");
  background-repeat: repeat;
}

.navbar {
  position: sticky;
  float: inline-end;
  top: 0;
  width: 100%;
  background: rgb(51,51,51);
  background: linear-gradient(180deg, rgb(143, 160, 139) 0%, rgba(255,255,255,1) 100%);
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  border: 1px solid rgb(135, 147, 137);
  box-shadow: 0 4px 8px 2px rgba(0,0,0,0.1);
}

table, th, td {
  border: 1px dotted rgb(72, 71, 71);
  margin: 2px;
  padding: 10px;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  background-color: rgb(199, 218, 202);
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline;
  padding: 10px;
  margin: 5px;
  font-size: 100px;
}

li:first-child {
  float: left;
  margin-bottom: 0;
}

a:hover {
  color: black;
  font-weight: bold;
}

#unicorn-llama {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

a {
  color: #6f9161;
  font-size: 24px;
}

p {
  font-size: 24px;
  font-weight: bold;
  color: #2d3828;
  font-style: italic;
}

#libraryheader {
  text-align: center;
}

.card {
  display: inline-block;
  width: 162px;
  height: 230px;
  border: 1px solid rgb(135, 147, 137);
  margin: 10px;
  padding: 5px;
  background: linear-gradient(180deg, rgb(143, 160, 139) 0%, rgba(255,255,255,1) 70%);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
}

.detail-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding: 20px;
  height: auto;
  border: 1px solid rgb(135, 147, 137);
  background: linear-gradient(180deg, rgb(143, 160, 139) 0%, rgba(255,255,255,1) 70%);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
  text-align: center;
  font-size: 24px;
}

.card:hover {
  box-shadow: 0px 8px 16px 0 rgba(0,0,0,0.5);
}

#card-title {
  font-size: 24px;
  margin-top: 10px;
}

.cardp {
  font-size: 20px;
}

.carda {
  font-size: 20px;
  margin-bottom: 5px;
}

.button {
  margin-top: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  background-color: #b1caa7;
  padding: 3px;
}

.button:hover {
  background-color: azure;
}

.supplies-container {
  display: flex;
  flex-direction: row;
}

#supply-form {
  width: 200px;
  padding: 10px;
}

#supply-list {
  width: auto;
}

#supply-header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.hidden-input {
  display: none;
}