body {
  padding: 50px;
  font-family: 'Josefin Sans', sans-serif;
}

a {
  color: #6f9161;
}

table, th, td {
  border: 1px dotted rgb(72, 71, 71);
  margin: 2px;
  padding: 10px;
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
}

.navbar {
  position: sticky;
  top: 0;
  background: rgb(51,51,51);
  background: linear-gradient(180deg, rgb(143, 160, 139) 0%, rgba(255,255,255,1) 100%);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
}

#unicorn-llama {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline;
  padding: 10px;
  margin: 5px;
}

p {
  font-size: 24px;
  font-weight: bold;
  color: #6f9161;
}