<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Create New Project</h1> 
   <form action="/addProject" method="POST">
    <label>Project Type:</label>
        <input type="text" name="name" required>
        <select name="type" required>
            <option value=""></option>
            <option value="knit">Knit</option>
            <option value="crochet">Crochet</option>
            <option value="spin">Spin</option>
            <option value="weave">Weave</option>
        </select>
        <input type="text" name="sourceLink" required>
        
   </form>
</body>
</html>