<%- include('../partials/header') %>
<h2>Project Details</h2>
<table id="show-page">
    <thead>
        <tr>
            <th><%= project.name %> </th>
            <th><%= project.sourceLink %> </th>
        </tr>
    </thead>
    <tbody>
        
    </tbody> 
</table>
<br></br>
<h1>Project Supply List</h1>
<form action="/supplies" method="POST" autocomplete="off">
  <input type="text" name="supply">
   <select name="status" required>
            <option value=""></option>
            <option value="waiting">Thinking about it...</option>
  <button type="submit">Save Todo</button>
</form>